.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80px;
}

.header__menu,
.searchBar,
.header__account,
.header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  display: none;
  cursor: pointer;
}

.header__logo {
  width: 150px;
  margin-right: 3rem;
}

.header__icon {
  width: 20px;
  margin: 0 0.25rem;
}

.searchBar {
  width: 30vw;
  border-bottom: 1px solid #7a7a7a;
}

.searchBar input {
  flex-grow: 1;
  border: 0;
}

.searchBar input:focus {
  outline: 0;
}

.cartItemCounter {
  background-color: #f8475f;
  border-radius: 50%;
  width: 14px;
  padding: 1px;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .header {
    display: grid;
    height: auto;
    grid-template-areas:
      'a b c'
      'd d d';
    padding-top: 1rem;
    justify-items: center;
    row-gap: 1rem;
    justify-content: space-around;
  }

  .header__menu {
    display: block;
    grid-area: a;
  }

  .header__logo {
    grid-area: b;
    flex-grow: 1;
    margin: 0;
  }

  .header__cart {
    grid-area: c;
  }

  .searchBar {
    margin-bottom: 1rem;
    grid-area: d;
    width: 90%;
  }

  .header__account {
    display: none;
  }
}
