.products {
  max-width: 1248px;
  margin: 0 auto;
}

.products__title {
  font-size: 24px;
  font-weight: 900;
  position: relative;
  margin: 2rem 0 0 2rem;
}

.products__title::after {
  content: '';
  position: absolute;
  background-color: #c0c0c0;
  width: 80px;
  height: 5px;
  top: 2.2rem;
  left: 0;
}

.products__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 4rem;
}

@media (max-width: 1360px) {
  .products__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product {
  text-align: center;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease-out;
}

.product:hover {
  background-color: #e6e8ea;
}

.product__name {
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.product__listPrice {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0.3rem;
  text-decoration: line-through;
}

.product__price {
  font-weight: 800;
  font-size: 18px;
}

.product__installments {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 500;
}

.product__buyBtn {
  display: none;
  background-color: #000000;
  color: #ffffff;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  margin: 0.5rem 0 1rem;
  cursor: pointer;
}

.product:hover .product__buyBtn {
  display: block;
}

.placeholder {
  height: 24px;
}

@media (max-width: 400px) {
  .products__container {
    gap: 3rem;
  }

  .product {
    width: 30vw;
    min-width: 120px;
    height: auto;
  }

  .product__image {
    width: 100%;
  }

  .product__buyBtn {
    display: block;
  }

  .product:hover {
    background: none;
  }
}
